<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>This site was created by Gopal Dangi. It uses data form mapbox.com and darksky.net!</p>
    <img class="portrait" src="/img/new.jpg">
    </div>
    
    {{>footer}}
</body>

</html>